<ion-modal-view view-title="Favorite Runs">
    <ion-content>
        <div  class="buttons">
            <div class="row">
                <div class="col">
                     <button class="button col" ng-click="openNameCourse()">Start Running!</button>
                </div>
                 <div class="col">
                <button class="button col" ng-click="closeFavorites()">Show all</button>
                </div>
            </div>
            <ion-item collection-repeat="course in favorite_courses"
              collection-item-height="150"
              collection-item-width="'100%'">
                <a ng-click="closeFavorites()" href={{"#/app/show/"+course.id}}>{{course.name}}</a>
                <p>{{course.city}}, {{course.country}} - {{course.created_at}}</p>
                <p> {{course.favorite}}</p>
                <div class="row">
                    <div class="col">Ag. Speed</div>
                    <div class="col">Total Time</div>
                    <div class="col">Distance</div>
                    <div class="col">Calories</div>
                </div>
                <div class="row">
                    <div class="col"> {{course.average_speed}} km/h</div>
                    <div class="col"> {{course.duration}} </div>
                    <div class="col"> {{course.distance}} km </div>
                    <div class="col"> 1000 cal</div>
                </div>
            </ion-item>
        </div>
    </ion-content>
</ion-modal-view>
