<ion-view view-title="Recent Runs">
    <ion-content>
        <div ng-controller="StarterCtrl as starter" class="buttons">
            <div class="row">
                <div class="col">
                     <button class="button col" ng-click="openNameCourse()">Start Running!</button>
                </div>
                 <div class="col">
                <button class="button col" ng-click="openFavorites()">Filter by Favorites</button>
                </div>
            </div>
            <ion-item collection-repeat="course in courses">
                <a href={{"#/app/show/"+course.id}}>{{course.name}}</a>
                <p> {{course.created_at}}</p>
                <p> {{course.favorite}}</p>
                <div class="row">
                    <div class="col">Ag. Speed</div>
                    <div class="col">Total Time</div>
                    <div class="col">Distance</div>
                </div>
                <div class="row">
                    <div class="col"> {{course.average_speed}} km/h</div>
                    <div class="col"> {{course.duration}} </div>
                    <div class="col"> {{course.distance}} km </div>
                </div>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
