<ion-modal-view>
    <ion-header-bar>
        <h1 class="title"> Name Run</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="startRun()">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Run Against:
                    </div>
                    <select ng-model="favoriteCourse.course" ng-options="course.name for course in favorite_courses" ng-change="courseChange()">
                        <option value="">-- choose favorite --</option>
                    </select>
                </label>
            </div>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">New Course Name: </span>
                    <input type="text" ng-model="courseData.name">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Start Running!</button>
                </label>
            </div>
        </form>
             <label class="item">
                    <button class="button button-block button-positive" ng-click="closeNameCourse()">Close</button>
                </label>


                    
    </ion-content>
</ion-modal-view>
