
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Run</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRun()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRun()">Stop</button>
    </div>
     <div>
      <h1 style="text-align: center"><timer>{{hours}}:{{minutes}}:{{seconds}}:{{millis}}</timer></h1>
        <button ng-click="startTimer()" ng-disabled="timerRunning">Start Timer</button>
        <button ng-click="resumeTimer()" ng-disabled="timerRunning">Resume Timer</button>
        <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>
    </div>

    <div class="buttons">
      <button class="button button-clear" ng-click="geolocationData()">Location</button>
    </div>
     <h4 id="location"></h4>


  </ion-content>
</ion-modal-view>









