
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Run</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRun()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
     <div>
      <h1 style="text-align: center"><timer>{{hours}}:{{minutes}}:{{seconds}}:{{millis}}</timer></h1>
        <!-- <button ng-click="startTimer()" ng-disabled="timerRunning">Start Timer</button> -->
        <!-- <head>we will haddd a pause button when u pay for this app</head> -->
        <!-- <button ng-click="resumeTimer()" ng-disabled="timerRunning">Resume Timer</button> -->
        
    </div>
<button style="padding: auto" ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>

     <h4 id="location"></h4>


  </ion-content>
</ion-modal-view>









