
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Run</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRun()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRun()">Stop</button>
    </div>

<!-- <div ng-controller="StopCtrl">
<h1>{{StopCtrl.data.value}}</h1>
<h3>{{StopCtrl.data.laps|json}}</h3>
<button ng-click='StopCtrl.start()'>Start</button>
<button ng-click='StopCtrl.stop()'>Stop</button>
<button ng-click='StopCtrl.reset()'>Reset</button>
<button ng-click='StopCtrl.lap()'>Lap</button> -->


    </div>
  </ion-content>
</ion-modal-view>









