<ion-side-menus side="left" drag-content="false">
<ion-view view-title="New Run">
    <ion-header-bar ng-init="startTimer()">
        <h1 class="title">New Run</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeRun()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="new-body">
            <div ng-show="isCathMeIdSet">
                    <div class="row" ng-show="course.comparison_speed >= 0">
                    <i class="icon ion-arrow-graph-up-right balanced icon-big"></i>
                    </div>
                    <div class="row" ng-show="course.comparison_speed < 0">
                    <i class="icon ion-arrow-graph-down-right assertive icon-big"></i>
                    </div>
                    <div class="row comparison-cath-me"> {{course.comparison_speed}} miles/hour
                    </div>
            </div>
            <div>
                <ion-spinner icon="ripple"></ion-spinner>
               <h1 class="timer" style="text-align: center"><timer>
                {{hours}}:{{minutes}}:{{seconds}}:{{millis}}</timer></h1>
                <!--     <button onclick="startTimer()" onclick="startRun()" ng-disabled="timerRunning">Start</button> -->
            </div>
            <button class="button button-assertive stoptimer" ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>
            <!-- <button ng-click="resumeTimer()" ng-disabled="timerRunning">Resume Timer</button> -->
            <div class="row">
                <div class="col title-stats">Ag. Speed</div>
                <div class="col title-stats">Distance</div>
            </div>
            <div class="row">
                <div class="col stats"> {{course.average_speed}} miles/hour</div>
                <div class="col stats"> {{course.distance}} miles </div>
            </div>
        </div>
    </ion-content>
</ion-view>
