<ion-view view-title="Profile">
  <ion-content ng-controller="UsersCtrl">
    <div class="item item-avatar">
      <img src="{{auth.profile.picture}}">
      <h2>{{auth.profile.name}}</h2>
      <p>{{auth.profile.description}}</p>
      <p>Location: {{auth.profile.location}}</p>
    </div>
  <div id="trend" ng-init="getChartData()">
    <h3>Running Trend so far</h3>
    <canvas chart="Bar" options="myChartOptions" data="chart" width="300" height="300"></canvas>
    </div>
  </ion-content>
</ion-view>
